<ion-view title="Person" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="person-list7">
      <ion-item class="item-avatar" id="person-list-item36">
        <h2>{{username}}</h2>
      </ion-item>
    </ion-list>
    <a ng-click='logout()' id="person-button2" class="button button-positive button-block">LogIn/Logout</a>
    <a ui-sref="tabsController.registeredEvents()" id="person-button3" class="button button-positive button-block">Registered Events</a>
  </ion-content>
</ion-view>